<nav>
  <ul class="nav nav-pills border">
    <li class="nav-item">
      <a class="nav-link" routerLink="/classique" routerLinkActive="active">Classique</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/tableau" routerLinkActive="active">Tableau</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/carousel" routerLinkActive="active">Carousel</a>
    </li>
  </ul>
</nav>
<div class="col-sm my-1">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">Limite</div>
    </div>
    <input #lim id="limite" name="limite" min="0" (keyup)="setLimite(lim)" type="number" class="form-control">
  </div>
</div>
<div class="col-sm my-1">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">Filtre par pseudo</div>
    </div>
    <input #cPseudo id="changePseudo" name="changePseudo" (keyup)="searchPseudo(cPseudo)" type="text" class="form-control">
  </div>
</div>