<div class="jumbotron">
  <form class="form-horizontal">
    <fieldset>
    
      <!-- Form Name -->
      <legend><h1>Top Collègues</h1></legend>
      
      <h6>Les meilleurs collègues du moment</h6>

      <!-- Text input-->
      <div class="control-group row">
        <label class="control-label col-2 col-form-label" for="pseudo">Pseudo</label>
        <div class="controls col-10">
          <input #pseudo id="pseudo" name="pseudo" placeholder="Pseudo" class="form-control" required="" type="text">
        </div>
      </div>

      <br>

      <!-- Text input-->
      <div class="control-group row">
        <label class="control-label col-2 col-form-label" for="urlimg">URL image</label>
        <div class="controls col-10">
          <input #imageUrl id="urlimg" name="urlimg" placeholder="URL image" class="form-control" required="" type="text">
        </div>
      </div>
      
      <!-- Button -->
      <div class="control-group">
        <label class="control-label" for="singlebutton"></label>
        <div class="controls">
          <button (click)="add(pseudo, imageUrl)" id="singlebutton" name="singlebutton" class="btn btn-primary">Ajouter un nouveau Collegue</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div *ngIf="affiche==true" class="alert alert-success" role="alert">
  Le collègue {{savePseudo}} a été ajouté avec succès
</div>

<div id="listCollegue" class="card-deck">
  <div *ngFor="let collegue of collegues">
    <app-un-collegue [collegue]=collegue></app-un-collegue>&nbsp;
  </div>
</div>