<app-formulaire (ajout)="addList($event)"></app-formulaire>
<app-navigation 
  (limite)="size = $event" 
  (changeP)="changePseudo = $event" 
  [tailleMax]="sizeMax">
</app-navigation>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Pseudo</th>
      <th scope="col">Score</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
      <tbody app-un-collegue 
        *ngFor="let collegue of collegues | filterByPseudo:changePseudo | slice:0:this.size" 
        [collegue]=collegue [tableTemplate]="true"
        (supp)="supp($event)" (change)="sortList($event)"></tbody>
</table>