<div *ngIf="cardTemplate" class="card">
  <a routerLink="{{ offLine ? '':'/detail/'+collegue.pseudo}}" >
    <img class="card-img-top" src={{collegue.imageUrl}} />
  </a>
  <div class="card-block text-center">
    <h4 class="card-title">{{collegue.pseudo | uppercase}}</h4>
    <div class="card-text lead"><strong [innerHTML]="collegue.score | score"></strong></div>
    <br />
    <div>
        <div class="row justify-content-md-center">
          <button (click)="jaime()" id="aime" name="aime" 
            class="btn btn-outline-primary ml-1 mt-1 mr-1" 
            [disabled]="offLine">J'aime</button>
          <button (click)="jedeteste()" id="deteste" name="deteste" 
            class="btn btn-outline-danger ml-1 mt-1 mr-1" 
            [disabled]="offLine">Je déteste</button>
        </div>
        <div class="row justify-content-md-center">
          <button (click)="passCollegue()"
            data-toggle="modal" data-target="#myModal"
            id="commentaire" name="commentaire" 
            class="btn btn-outline-success ml-1 mt-1 mr-1" 
            [disabled]="offLine">Rédiger un commentaire</button>
        </div>        
      </div>
  </div>
</div>

<tr *ngIf="tableTemplate">
  <td class="col">
    <a routerLink="{{ offLine ? '':'/detail/'+collegue.pseudo}}" >
      <img class="col-4" src={{collegue.imageUrl}} />
    </a>
  </td>
  <td class="col"><h4>{{collegue.pseudo | uppercase}}</h4></td>
  <td class="col-4"><div class="card-text lead"><strong [innerHTML]="collegue.score | score"></strong></div></td>
  <td class="col-4">
    <div>
      <div class="row justify-content-md-center">
        <button (click)="jaime()" id="aime" name="aime" 
          class="btn btn-outline-primary ml-1 mt-1 mr-1"
          [disabled]="offLine">J'aime</button>
        <button (click)="jedeteste()" id="deteste" name="deteste" 
          class="btn btn-outline-danger ml-1 mt-1 mr-1"
          [disabled]="offLine">Je déteste</button>
      </div>
      <div class="row justify-content-md-center">
        <button (click)="passCollegue()"
          data-toggle="modal" data-target="#myModal"
          id="commentaire" name="commentaire" 
          class="btn btn-outline-success ml-1 mt-1 mr-1" 
          [disabled]="offLine">Rédiger un commentaire</button>
      </div>
    </div> 
  </td>
</tr>

<div *ngIf="carouselTemplate" >
  <a routerLink="{{ offLine ? '':'/detail/'+collegue.pseudo}}" >
    <img class="carousimg" src="{{collegue.imageUrl}}">
  </a>
  <div class="carousel-caption">
    <div class="alert-dark">
      <h4>{{collegue.pseudo | uppercase}}</h4>
      <div class="lead"><strong [innerHTML]="collegue.score | score"></strong></div>
    </div>
    <br>
    <div class="row justify-content-md-center">
      <button (click)="jaime()" id="aime" name="aime" 
        class="btn btn-primary ml-1 mt-1 mr-1"
        [disabled]="offLine">J'aime</button>
      <button (click)="jedeteste()" id="deteste" name="deteste" 
        class="btn btn-danger ml-1 mt-1 mr-1"
        [disabled]="offLine">Je déteste</button>
    </div>
    <div class="row justify-content-md-center">
      <button (click)="passCollegue()"
        data-toggle="modal" data-target="#myModal"
        id="commentaire" name="commentaire" 
        class="btn btn-success ml-1 mt-1 mr-1" 
        [disabled]="offLine">Rédiger un commentaire</button>
    </div>
  </div>
</div>