<app-formulaire></app-formulaire>
<app-navigation 
  (limite)="size = $event" 
  (changeP)="changePseudo = $event" 
  [tailleMax]="sizeMax">
</app-navigation>
<app-dernier-avis></app-dernier-avis>
<ngb-carousel class="mb-5">
  <ng-template ngbSlide *ngFor="let collegue of collegues | filterByPseudo:changePseudo | slice:0:size">
    <div app-un-collegue
      [carouselTemplate]="true" [collegue]=collegue 
      (supp)="supp($event)" (change)="sortList($event)">
    </div>
  </ng-template>
</ngb-carousel>
<app-dernier-avis></app-dernier-avis>